.topbar{
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 20px;
    color:darkblue;
    font-weight: bold;
}
.topbarIcons{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topIconBag{
    position: absolute;
    top: -5px;
    right: 0;
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topRight{
    display: flex;
    align-items: center;
}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
}