
*{
    margin: 0;
}
.container{
    display: flex;
}

.active{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(228, 228, 250);

}